<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minigames</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="">
        <header class="header">
            <h1>Login to Play</h1>
        </header>
        <main class="container">
            {{#if logged_in}}
                {{> navigation}}
                {{{ body }}}
            {{else}}
                {{> login-signup}}
            {{/if}}
        </main>
    </div>

    <footer>
        <div class="square"></div>
    </footer>
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

    <script src="anime.min.js"></script>
    
</body>

</html>