{{!-- {{> navigation}} --}}

<h2 class="heading">GAME ONE</h2>
<p class="text">Instructions: Use the keyboard to type in the number that matches what you see on the screen. The game is over if you get three wrong. There is a maximum of fifty prompts.</p>

<section class="game-space">
    <h3 class="game-header text">Number React</h3>
    <div class="border">

        <div class="game">
        </div>
    </div>
</section>
<script src="/js/p5.js"></script>
<script src="/js/gameOne.js"></script>